// USER VARIABLES SECTION

$accent: orange // Accent Color
$fontsize: 1vw // Body Font Size
$textcolor: #000 // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: sf-pro-display, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

@mixin mainFont ()
	font-size: 5.83em
	line-height: .85em
	font-weight: 400
	color: #F9F9F9

@mixin secondFont ()
	font-size: 1.53em
	line-height: 1.5em
	font-weight: 400
	color: #272727
	font-family: sf-pro-text
	letter-spacing: -.3px



// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot


// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('sf-pro-display', normal, 400, '../fonts/sf-pro-display-regular.woff2')
@include font('sf-pro-text', normal, 400, '../fonts/sf-pro-text-regular.woff2')


// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden